<div id="editor-container">
  <div id="output-container">
    <%= render 'layouts/editor/output_iframe' %>
  </div>

  <div class="editor-parent" id="code-container">
    <%= form_for @sketch, class: 'no-padding' do |sketch| %>
      <%= sketch.text_field :title, class: 'form-control' %>

      <%= sketch.fields_for :snippets, @sketch.snippets do |snippet| %>
        <%= snippet.text_area :content, class: 'form-control text-editor', id: "text-editor-#{snippet.object.language}", sid: snippet.object.id, language: snippet.object.language %>
      <% end %>
      <%= sketch.submit 'Save', class: 'btn btn-primary half-width' %>
      <%= link_to 'Home', root_path, class: 'btn btn-primary half-width' %>
    <% end %>
  </div>
</div> <!-- editor container -->

<script>
function deepClone(obj) {
  return JSON.parse(JSON.stringify(obj));
}
var opts = {
  lineNumbers: true,
  tabSize:  2,
  reindentOnLoad: true
};

var htmlOpts = deepClone(opts);
htmlOpts['mode'] = 'html';

var jsOpts = deepClone(opts);
jsOpts['mode'] = 'javascript';

/*
* Initialize CodeMirror
*/
var htmlCode = document.getElementById('text-editor-html');
var htmlCM = CodeMirror.fromTextArea(htmlCode, htmlOpts);
var jsCode = document.getElementById('text-editor-javascript');
var jsCM = CodeMirror.fromTextArea(jsCode, jsOpts);

// auto refresh callback
var onChangeCallback = function (e) {
  var ta = e.getWrapperElement().previousSibling;

  var language = ta.getAttribute('language');
  var id = ta.getAttribute('sid');

  var data = { 
    'id': id, 
    'language': language, 
    'html_content': htmlCM.getValue(), 
    'js_content': jsCM.getValue() 
  };

  $.ajax({
    type: 'get',
    url: '/refresh-sketch',
    data: data,

    success: function (response) {
      if ('0' != (response + '')) {
        document.querySelector('iframe')
          .contentWindow
          .document
          .documentElement
          .innerHTML = response;
      }
    }
  });
}

htmlCM.on('change', onChangeCallback);
jsCM.on('change', onChangeCallback);

</script>
