<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <%= @user.email %>
    </section>
  </aside>

  <!--
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
  </div>
  -->
</div>

<% if @user.sketches.any? %>
  <ol class="sketches">
    <%= render partial: 'users/sketches_view', locals: { sketches: @sketches, user: @user } %>
  </ol>
  <%= will_paginate  @sketches %>
<% end %>

<%= link_to 'Edit Profile', edit_user_path(@user) %> 
